// 小标题
.small-title {
  font-size: 18px;
  font-family: Microsoft YaHei;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 30px;
}
// 黄色渐变
.yellow-gradient {
  background: linear-gradient(0deg, #F6B980 0%, #F5DCC4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
// 酒红色渐变
.claret-gradient {
  background: linear-gradient(0deg, #FF6D6E 0%, #FF9999 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
// 酒红色渐变
.green-gradient {
  background: linear-gradient(0deg, #00CE79 0.146484375%, #A5CFBD 98.2421875%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.yellow {
  background: #F6B980;
}
.claret {
 background: #FF6D6E;
}
.greed {
  background: #00CE79;
}